.page {
  position: relative;
  background-color: var(--main-bg);
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
  padding: 8px;
}

.light {
  --main-bg: #dae3e5;
  --text-bg: #bbd1ea;
  --shadow: #a1c6ea;
  --text-sec: #507dbc;
  --text-main: #16263b;
  --btn-main: skyblue;
}

.dark {
  --main-bg: #16263b;
  --text-bg: #507dbc;
  --shadow: #a1c6ea;
  --text-sec: #bbd1ea;
  --text-main: #dae3e5;
  --btn-main: steelblue;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 20px;
}

.content {
  max-width: 2560px;
  padding: 16px;
  box-sizing: border-box;
}

.title {
  font-family:'Courier New', Courier, monospace;
  margin: 0;
  width: 100%;
  text-align: center;
  font-size: 48px;
  color: var(--text-main);
}

.subtitle {
  font-family:'Courier New', Courier, monospace;
  margin: 0;
  width: 100%;
  text-align: left;
  text-indent: 32px;
  color: var(--text-sec);
  margin-bottom: 32px;
}

.subtitle-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.toggle {
  position: static;
  margin-bottom: 24px;
  user-select: none;
  align-items: center;
}

.toggle-icon {
  width: 28px;
  user-select: none;
  align-items: center;
}

.toggle-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  user-select: none;
}

.toggle-label {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 2px solid black;
  padding: 4px;
  border-radius: 40px;
  width: 80px;
  margin: 0 auto;
  background-color: var(--text-bg);
  transition: all 0.25s ease;
  user-select: none;
}

.toggle-label:hover {
  background-color: var(--shadow);
}

.toggle-label:active {
  transform: scale(0.95);
}

.transparency {
  opacity: 1;
  transition: all 0.1s ease;
}

.transparency:hover {
  opacity: 0.7;
}

.dwnldbtn {
  background-color: var(--btn-main);
  border: 2px solid black;
  border-radius: 40px;
  width: 80px;
  color: black;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
  margin: 0 auto;
}

.dwnldbtn:hover {
  background-color: RoyalBlue;
}

.links {
  background-color:aqua;
  border: 2px solid black;
  border-radius: 40px;
  width: 170px;
  color: black;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 17px;
  font-family: 'Courier New', Courier, monospace;
  margin: 20;
  position: relative;
}

.links:hover {
  background-color: dodgerblue;
}

thead th {
  background: #25abf3;
  color: #000000;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  font-weight: 100;
  letter-spacing: 2px;
  text-transform: uppercase;
}

tr {
  background: #46c0e9;
  border-bottom: 1px solid #000000;
  margin-bottom: 5px;
}

th, td {
  font-family: 'Courier New', Courier, monospace;
  font-size: 17px;
  font-weight: 400;
  padding: 20px;
  text-align: left;
  width: 33.3333%;
}